<%= form_for(@whitewater_run) do |f| %>
  <% if @whitewater_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whitewater_run.errors.count, "error") %> prohibited this whitewater_run from being saved:</h2>

      <ul>
      <% @whitewater_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :whitewater_class %><br>
    <%= f.number_field :whitewater_class %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
