<%= form_for(@whitewater_run) do |f| %>
    <form>
      <% if @whitewater_run.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@whitewater_run.errors.count, "error") %> need to be fixed before this can be saved:</h2>

          <ul>
          <% @whitewater_run.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field form-group">
        <%= f.label :whitewater_class %><br>
        <%= f.number_field :whitewater_class %>
      </div>
      <div class="field form-group">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <button type="button" class="btn btn-default">
        <%= f.submit %>
      </div>
  </form>
<% end %>
